<ion-view class="welcome-view auth-outer" cache-view="false"  hide-back-button="true">
  <ion-nav-bar class="view-navigation">
    <ion-nav-buttons side="left">
      <button menu-and-drawer-toggle class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-center">
        <img class="app-logo" src="img/sworkit-white.png" />
        <p class="account-value">{{'ACCOUNTPROP' | translate}}</p>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <div class="row">
          <div class="col">
            <a class="button button-block button-outline main-action" ui-sref="app.signup" ng-if="!authData">
              {{'CREATE_AN_ACCT' | translate}}
            </a>
            <div class="alternative-action">
              <a class="" ui-sref="app.login">
                {{'ALREADYACCOUNT' | translate}}, <span class="bigger-touch">{{'LOGIN' | translate}}</span>
              </a>
              <a class="skip-option" class="" ui-sref="app.home" ng-if="showWelcome">
                {{'NOTYETSKIP' | translate}}, <span class="bigger-touch">{{'SKIP' | translate}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
